{%- set external_urls = {
  'github': 'https://github.com/kornia/kornia',
  'github_issues': 'https://github.com/kornia/kornia/issues',
  'contributing': 'https://github.com/kornia/kornia/blob/master/CONTRIBUTING.md',
  'docs': 'https://kornia.readthedocs.io/en/latest/index.html',
  'twitter': 'https://twitter.com/kornia_foss',
  'facebook': 'https://www.facebook.com/opencvlibrary',
  'slack': 'https://kornia.slack.com',
  'discuss': 'https://discuss.pytorch.org/c/vision/kornia',
  'tutorials': 'https://kornia.readthedocs.io/en/latest/tutorials/index.html',
  'previous_pytorch_versions': 'https://github.com/kornia/kornia/wiki',
  'home': 'https://kornia.org/',
  'get_started': 'https://kornia.readthedocs.io/en/latest/introduction.html',
  'features': 'https://kornia.readthedocs.io/en/latest/introduction.html#hightlighted-features',
  'ecosystem': 'https://github.com/kornia/kornia/wiki',
  'blog': 'https://github.com/kornia/kornia/wiki',
  'resources': 'https://kornia.readthedocs.io/en/latest/contribute.html',
  'support': 'https://github.com/kornia/kornia/wiki',
  'mobile': 'https://github.com/kornia/kornia-mobile',
  'hub': 'https://github.com/kornia/kornia-onnx',
  'youtube': 'https://www.youtube.com/edgarriba',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf'
}
-%}
